<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karbun Coin</title>
</head>

<body>
    <button><a href="/microsoft">Microsoft Emission Impact Dashboard</a></button>
    <button><a target="_blank" href="https://www.websitecarbon.com/">Carbon Footprint Calculator</a></button>

   <p>This is the amount of bytes transferred :<%=byteTransferred%></p>
   <p>Are you a GreenHouse Host? :<%=GreenHost%></p>
   <p>Only <%=co2perPage%> g of CO2 is produced every time someone visits this web page.</p>

</body>

</html>