<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karbun Coin</title>
    <style>
      .container{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      display:inline-block;
      background: #fff;
      padding: 55px 50px 40px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 14px rgb(0 0 0 / 30%);
      box-shadow: 0 0 14px rgb(0 0 0 / 30%);
      margin: 60px auto 40px;
      width: 320px;
      max-width: 100%;
      /* text-align: center!important; */
      }
      .div {
      display: block;
      }
      .text-center{
        align-items: center;
      }
      </style>
</head>


<body>
  <% if(error!=null){%>
    <div>error</div>
  <%}%>
  <% if(success!=null){%>
    <div>success</div>
  <%}%>
    <form class="container" method="POST" action="/confirmOtpFirm">
      <div class="form-group">
        <input id="emailInput" name="email" type="text" class="form-control" value="">Email
      </div><br>
    <div class="form-group">OTP<br>
        <input name="otp" type="otp" class="form-control" placeholder="">
      </div>
      <br>
      <div class="form-group">password<br>
        <input name="password" type="password" class="form-control" placeholder="">
      </div><br>
      <div class="form-group">confirm password<br>
        <input name="confirm_password" type="password" class="form-control" placeholder="">
      </div>
      <div class="text-center"> 
        <button type="submit" id="submit_login" class="btn btn-sign">Submit</button>
      </div>
    </form>
</body>
<script>
   let params = (new URL(document.location)).searchParams;
   let email = params.get("email");
   console.log(email);
   let element = document.getElementById("emailInput").setAttribute("value",email);
   console.log(element);
</script>

</html>