<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karbun Coin</title>

  <style>
  
  .div {
  display: block;
  }
  .text-center{
    align-items: center;
  }
  
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
</style>
</head>


<body>
    
    <form class="container" method="POST" action="/confirmOtpCompany">
      <div class="col-md-6 col-md-offset-3">
      <div class="shadow-box step-box-list">

      <div class="form-group">
      <label for="fname">EMAIL</label>

        <input id="emailInput" name="email" type="text" class="form-control" value="">
      </div><br>
    <div class="form-group">
      <label for="fname">OTP</label>
        <input name="otp" type="otp" class="form-control" placeholder="">
      </div>
      <br>
      <div class="form-group">
        <label for="fname">PASSWORD</label>
        <input name="password" type="password" class="form-control" placeholder="">
      </div><br>
      <div class="form-group">
        <label for="fname">CONFIRM PASSWORD</label>
        <input name="confirm_password" type="password" class="form-control" placeholder="">
      </div>
      <div class="text-center"> 
        <button type="submit" id="submit_login" class="btn btn-sign">Submit</button>
      </div>
      </div>
    </form>
</body>
<script>
  let params = (new URL(document.location)).searchParams;
   let email = params.get("email");
   console.log(email);
   let element = document.getElementById("emailInput").setAttribute("value",email);
   console.log(element);
</script>

</html>