<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Karbun Coin</title>
        <!-- mobile responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="user_assets/img/favicon.png"/>
        <meta name="theme-color" content="#ffffff" />
        <link rel="stylesheet" href="user_assets/css/style.css" />
        <link rel="stylesheet" href="user_assets/css/responsive.css" />
    
        <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet"/>
        
          <style>
            .light-dark-bg {
                background: #388855;
            }
            .terms-page-content {
                color: #ddd;
                font-size: 16px;
                text-align: justify;
            }
            
            .terms-page-content p {
                margin-bottom: 20px;
            }
            </style>
    
      </head>


<body class="active-preloader-ovh" style="top: 0 !important">
    <div class="preloader">
      <div class="spinner"></div>
    </div>

<header class="header header-home-one">
    <nav class="navbar navbar-default header-navigation stricky">
      <div class="thm-container clearfix">
        <div class="navbar-header">
          <a
            href="javascript:void(0);"
            onclick="BuyEth()"
            style="display: none"
            class="for-mobile-show metamask-link">
           <img
              src="user_assets/img/meta-icon.png"
              style="height: 35px; width: auto"/>
             <small style="font-size: 12px; font-weight: 400"
              >Connect wallet</small>
          </a>
          <button
            type="button"
            class="navbar-toggle collapsed bitmex-icon-menu"
            data-toggle="collapse"
            data-target=".main-navigation"
            aria-expanded="false"
          ></button>
          <a class="navbar-brand" href="">
            <img src="user_assets/img/logo.png" style="height: 80px" />
          </a>
        </div>

        <div
          class="collapse navbar-collapse main-navigation mainmenu"
          id="main-nav-bar">
          <ul class="nav navbar-nav navigation-box navbar-right">
            <li><a href="/#about">About Karbun</a></li>
            <!--  <li><a href="#news">Karbun Partners</a> </li> -->
            <li>
              <a
                href="#"
                data-toggle="modal"
                data-target="#whitepaperModal"
                style="font-size: 16px">Whitepaper</a></li>
            <li><a href="/#login">Join </a></li>
            <li><a href="/#our-experts">Team </a></li>
            <li><a href="/#roadmap">Roadmap</a></li>

            <li><a href="/#contact-us">Contact Karbun</a></li>
            <li><a href="/terms">T&C</a></li>

            <li class="text/css">
              <button id="google_translate_element"></button>

              <div id="google_translate_element"></div>
              <script>
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement(
                    {
                      pageLanguage: "en",
                      autoDisplay: "true",
                      layout:
                        google.translate.TranslateElement.InlineLayout
                          .HORIZONTAL,
                    },
                    "google_translate_element"
                  );
                }
              </script>
              <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

              <style type="text/css">
                /*google translate Dropdown */

                #google_translate_element select {
                  background: #1a874e !important;
                  color: #fff;
                  padding: 8px 10px;
                  border: none;
                  border-radius: 3px;
                  height: auto !important;
                }

                /*google translate link | logo */
                .goog-logo-link {
                  display: none !important;
                }
                .goog-te-gadget {
                  color: transparent !important;
                }

                /* google translate banner-frame */

                .goog-te-banner-frame {
                  display: none !important;
                }

                .skiptranslate.goog-te-gadget > div {
                  display: block !important;
                  width: 100% !important;
                }
                .goog-te-gadget {
                  font-family: arial;
                  font-size: 11px;
                  color: #666;
                  white-space: nowrap;
                  max-height: 32px;
                }
              </style>
            </li>
            <li class="xs-hide metamask-outer">
              <a class="metamask-link" href="javascript:void(0);" onclick="BuyEth()">
                <img
                  src="user_assets/img/meta-icon.png"
                  style="height: 35px; width: auto"
                />
                <small style="font-size: 12px; font-weight: 400"
                  >Connect wallet</small
                >
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header><!-- /.header -->

<section class="inner-banner gray-bg text-center">
	<div class="thm-container">
		<div class="breadcumb">
			<a href="#">Home</a><!--
			
			--><span class="sep">-</span><!--
			--><span class="page-name">Terms and Conditions </span>
		</div><!-- /.breadcumb -->
		<h3>Terms and Conditions </h3>
	</div><!-- /.thm-container -->
</section><!-- /.inner-banner -->



<section class="video-box-style-one sec-pad light-dark-bg terms-sec">
	<div class="thm-container">
		<div class="row">
		
			<div class="col-md-12 m-auto">
				<div class="terms-page-content">
					
					<div>
						<li>
							<% var count =1%>
							<% TitleDetails.forEach(function(row){%>
                          	
                          <div>
							<i class="fa fa-check"></i><%=row.title%>
                          	<%var content=row.content.replace(/(<p[^>]+?>|<p>|<\/p>)/img, "")%>
							<p><%=content%>  </p>
                          </div><%count++%>
						  <%})%></li>
					</div>
				</div><!-- /.video-box-content -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.thm-container -->
</section>












<div class="scroll-to-top scroll-to-target" data-target="html"><i class="fa fa-angle-up"></i></div> 
<script src="user_assets/js/jquery.js"></script>
<script src="user_assets/js/bootstrap.min.js"></script>
<script src="user_assets/js/bootstrap-select.min.js"></script>
<script src="user_assets/js/jquery.validate.min.js"></script>
<script src="user_assets/js/owl.carousel.min.js"></script>
<script src="user_assets/js/isotope.js"></script>
<script src="user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="user_assets/js/waypoints.min.js"></script>
<script src="user_assets/js/jquery.counterup.min.js"></script>
<script src="user_assets/js/wow.min.js"></script>
<script src="user_assets/js/jquery.easing.min.js"></script>
<script src="user_assets/js/particles.min.js"></script>
<script src="user_assets/js/particles-config.js"></script>
<script src="user_assets/js/Chart.min.js"></script>
<script src="user_assets/js/chart-config.js"></script>
<script src="user_assets/js/custom.js"></script>
<script src="user_assets/js/graph.js"></script>
<script>
	$(document).ready(function(){
  $('ul.navigation-box li a').click(function(){
    $('ul.navigation-box li a').removeClass("active");
    $(this).addClass("active");
});
});
</script>
</body>
</html>